@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
#check:checked ~ ul {
  top: 0;
  z-index: 1;
}
.banner-1 {
  background-image: url(images/banner_1_802.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-2 {
  background-image: url(images/banner_2_768.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-3 {
  background-image: url(images/banner_3_866.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.salauddin {
  font-family: "Great Vibes", cursive;
}

.animatedBtn {
  position: relative;
  display: inline-block;
  line-height: 20px;
  color: #fff;
  padding: 10px 5px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 15s;
  -o-transition: all 0.5s ease;
}
.animatedBtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #e72318;
  transition: all 1s;
  z-index: -1;
  transform: translateX(-100%);
}
.animatedBtn:hover {
  color: #ffffff;
  background-color: #ff0000;
  transform: translateX(0);
}
.animatedBtn:hover:before {
  width: 100%;
  transform: translateX(0);
}

.number-box {
  width: 70px;
  height: 70px;
  padding: 20px;
  background-color: #fef4f4;
  color: #c30505;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.red {
  color: #c30505;
}
.content-card:hover .content p {
  color: white;
}
.content-card:hover .content h2 {
  color: white;
}
.content-card:hover .content {
  background-color: #c30505;
  transform: translateY(-12px);
  transition: all 0.5s ease;
}
.booking-section {
  background-image: url(https://cilsi.skitsbd.com/website_assets/images/cta-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.expert-section {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
}
.our-service {
  background-image: url(images/background.png);
}
footer {
  background-image: url(https://cilsi.skitsbd.com/website_assets/images/footer-bg-linedecor.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
@media only screen and (max-width: 600px) {
  .number-box {
    width: 50px;
    height: 50px;
    padding: 20px;
    background-color: #fef4f4;
    color: #c30505;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
}
