@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
#check:checked ~ ul {
  top: 0;
  z-index: -1;
}
.banner-1 {
  background-image: url(images/banner_1_802.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-2 {
  background-image: url(images/banner_2_768.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-3 {
  background-image: url(images/banner_3_866.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.number-box {
  width: 50px;
  height: 50px;
  padding: 20px;
  background-color: #fef4f4;
  color: #c30505;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
